h1{
    text-align: center;
    color: blue;
}

#view {
    width: 100%;
    aspect-ratio: 1 / 1.4142;  /* proporción ISO-216 del papel A4 */
    border: 1px solid black; 
    position: relative;
}

#contentContainer {
    overflow-y: auto; /* Añade overflow-y: auto; para permitir el scroll vertical */
    max-height: 100%; /* Ajusta según sea necesario */
}

#form {
  width: 40%;
  height: 60%;
  text-align: left;
  margin-left: 10px;
}

.campoVacio{
  border: 2px solid red;
}

.campoValido{
  border: 2px solid green;
}

.checkbox {
  margin-left: 5px;
}

input {
    margin-bottom: 5px;
}

.progress-container {
    width: 100%;
    height: 20px;
    margin: auto;
    margin-top: 10px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s;
  }

  .creaDocumento {
    margin-top: 6px;
  }

  .gifCarga {
    margin-top: 50px;
  }

  .radio{
    margin: 5px;
  }

  .cortina {
    max-height: 150px; /* Altura máxima de la lista desplegable */
    overflow-y: auto; /* Añade scroll vertical si es necesario */
    border: 1px solid black;
    border-top: none; /* Elimina el borde superior para que coincida con el campo de entrada */
    position: absolute;
    width: 100%;
    background-color: white; /* Fondo blanco */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    direction: rtl; /* Dirección de derecha a izquierda */
  }
  
  /* Estilo para cada elemento de la lista desplegable */
  .cortina div {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Cambia el color de fondo al pasar el ratón sobre los elementos de la lista */
  .cortina div:hover {
    background-color: #f0f0f0;
  }

  #opciones {
    border: 1px solid lightskyblue;
    margin: 3px;
  }