<h1>{{nombre}}</h1>
@if(this.CS.clientes.length === 0) {
    <p style="color: red; text-align: center;">No se ha cargado un listado de clientes!!!</p>
    <p style="color: red; text-align: center;">Si quieres autocompletar la plantilla de forma automática carga un SCV en la sección Agregar </p>
}
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col" id="view">
            <div id="contentContainer">
                <img src="assets/carga.gif" class="gifCarga" alt="Cargando...">
            </div>
        </div>
        <div class="col" id="form">
            @if(this.estadoCargaInicial) {
                <p>Espere por favor...</p>
                <div class="progress-container">
                    <div class="progress-bar" [style.width]="progresoCargaInicial + '%'"></div>
                </div>
            }
            @if(this.progresoCargaInicial === 100) {
                @if(this.CS.clientes.length > 0) {
                    <label for="opciones">Selecciona una opción: </label>
                    <input type="text" id="opciones" name="opciones" placeholder="Escribe o selecciona" (input)="buscaCliente()" (click)="this.abreCortina()">
                    @if(this.cortina) {
                        <div class="cortina">
                            @for(cliente of this.clientesTemporales; track cliente) {
                                <div (click)="completa(cliente.id)">{{cliente.toString()}}</div>
                            }
                        </div>
                    }
                }
                @if(this.generos === true) {
                    <form>
                        <label>
                          <input type="radio" class="radio" name="generos" value="masculino" checked> Varón 
                        </label>
                      
                        <label>
                          <input type="radio" class="radio" name="generos" value="femenino"> Hembra
                        </label>
                    </form>
                }
                @if(this.plurales === true) {
                    <form>
                        <label>
                          <input type="radio" class="radio" name="plurales" value="singular" checked> Cliente 
                        </label>
                      
                        <label>
                          <input type="radio" class="radio" name="plurales" value="plural"> Clientes 
                        </label>
                    </form>
                }
                @for (clave of this.claves; track clave) {
                    @if(clave === "$$$") {
                        <input type="text" placeholder="Numero Documento" id="{{clave}}" class="campoValido" value="" >
                        <input type="checkbox" id="numeroDocAuto" class="checkbox" [(ngModel)]="numeroDocumento"> Genera automáticamente el numero de documento?
                        <br>
                    }@else {
                        <input type="text" placeholder="{{clave}}" id="{{clave}}" class="campoVacio" value="" >
                        <br>
                    } 
                }
                <button type="submit" class="creaDocumento" (click)="creaDocumento()">Crea Documento</button>
                @if(this.estadoCreacionArchivo) {
       
                    <div class="progress-container">
                        <p>Espere por favor...</p>
                        <div class="progress-bar" [style.width]="progresoCreacionArchivo + '%'"></div>
                    </div>
                }
            }
        </div>
    </div>   
</div>

