h1{
    text-align: center;
    color: blue;
}

#view {
    width: 100%;
    aspect-ratio: 1 / 1.4142;  /* proporción ISO-216 del papel A4 */
    border: 1px solid black; 
    position: relative;
}

#contentContainer {
    overflow-y: auto; /* Añade overflow-y: auto; para permitir el scroll vertical */
    max-height: 100%; /* Ajusta según sea necesario */
}

#form {
    width: 40%;
    height: 60%;
}

input {
    margin-bottom: 5px;
}