<h3>Aquí es donde cargas y administras el listado de clientes.</h3>
<h3>Carga un CSV valido </h3><p>(Un archivo CSV con encabezado con el nombre de las colunmas)</p>
@if(this.ipc.isElectron()) {
    <button type="submit" (click)="precargaCSV()">Elije un CSV valido.</button>
}@else {
    <input type="file" (change)="precargaCSV()" id="CSV" accept=".csv">
}

<div>
    @if(clientes.length > 0) {
        <table>
        <thead>
            <tr>
                @for(atributo of clientes[0].getAtributos().keys(); track atributo) {
					<th>{{atributo}}</th>
                }
            </tr>
        </thead>
        
            @for(cliente of clientes; track cliente) {
                <tbody>
                    @for(valor of cliente.getAtributos(); track valor) {
                        <td>{{valor[1]}}</td>
                    }
                </tbody>
            }
        </table>
    }@else {
        <p>no hay clientes</p>
       }
</div>