/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@ng-select/ng-select/scss/material.theme.scss';

:root {
	--color-fondo-oscuro: rgb(30, 30, 30);
	--color-texto-oscuro: #ffffff;
	--color-background-input: #c8c8c847;
	--color-background-button: rgb(120, 120, 120);
}

body {
	background-color: var(--color-fondo-claro);
	color: var(--color-texto-claro);
	transition: background-color 0.3s, color 0.3s;
}

html.modo-oscuro {
	scrollbar-color: #787878 #4e4e4e;
}

body.modo-oscuro {
	background-color: var(--color-fondo-oscuro);
	color: var(--color-texto-oscuro);
}

body.modo-oscuro .header {
	background-color: blue;
}

body.modo-oscuro button {
	color: #ffffff;
}

body.modo-oscuro button:hover {
	color: #ffffff70;
}

body.modo-oscuro input[type='text'] {
	color: #ffffff;
	background-color: #ffffff70;
}

body.modo-oscuro input[type='text']::placeholder {
	color: #c0c0c0;
}

body.modo-oscuro .creaDocumento {
	background-color: #ffffff70;
	color: #ffffff;
}

body.modo-oscuro button[type='submit'] {
	color: #ffffff;
	background-color: var(--color-background-button);
}

body.modo-oscuro .cortina {
	color: #ffffff;
	background-color: var(--color-background-button);
}
